@import url('https://fonts.googleapis.com/css?family=Cinzel');
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
    font-family: Cinzel;
    min-height: 100%;
    position: relative;
}
nav#topmenu{
    text-align:center;
    list-style: none;
}
header{
    background: url(img/super-backgr.jpg) no-repeat;
    background-size: 1300px 400px;
    background-position: center center;
    text-align: center;
    height: 300px;
    font-family: Cinzel;
}
header > p{
    position: relative;
    top:-20px;
    font-size:16px;
    color:#800000;
}
header > h1{
    color:#ffffff;
    text-shadow: 2px 2px #0066ff;
    padding-bottom: 20px;
}
nav#topmenu li{
    display: inline-block;
    padding: 0 60px 20px 30px;
    font-size: 24px;
}
nav#topmenu a{
    text-decoration: none;
    color:#ffffff;
    text-shadow: 2px 2px #3333ff;

}
#story-container{
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5em;
    margin-top: 5em;

}
.story-part{
    margin: 10em;
    padding-bottom:100px ;
    box-sizing: border-box;
}
.story-part>p:hover{
    transform: scale(1.1,1);
}
.story-part>p{
    position: relative;
    left: 5em;
    transition: transform 0.5s linear;
    padding-bottom: 50px;
}
.story-part>p::first-letter{
    font-weight: bolder;
    font-size: 30px;
}
.story-part>img{
   float: left;
   width:200px;
    transition: transform 0.5s linear;
}
.story-part>img:hover{
    transform: translate(50px, 100px);
}
#progr-basics,#tech-module,#JS-core,#web-basics,#mean-stack{
    display: none;
}
#intro{
    display: block;
}
.story-part::before{
    position: absolute;
    content: "";
    display: block;
    width: 50%;
    top:-40px;
    right: 60px;
    opacity: 0.4;
    border: 20px solid #3333ff;
    border-image-source: url(img/super-backgr.jpg);
    border-image-repeat: repeat;
    border-image-slice: 30;
    z-index: -1;
}
.story-part::after{
    position: absolute;
    content: "";
    left:150px;
    top:150px;
    display: block;
    width: 80%;
    border: 20px solid transparent;
    border-image-source: url(img/super-backgr.jpg);
    border-image-repeat: repeat;
    border-image-slice: 30;
    z-index: -1;
}
body >footer{
    color: #800000;
    background: #ff9933;
    height: 80px;
    width: 100%;
    position: absolute;
    padding: 0;
  }